#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 2em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo.vlcn:hover {
  filter: drop-shadow(0 0 2em #e3eaef);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.peers {
  /* position: absolute;
  right: 0px;
  top: -100px;
  width: 150px;
  height: 100px; */
  /* text-align: right; */
  z-index: 100;
}

.connect {
  display: inline-block;
}

.connect a {
  display: block;
}

.connections {
  display: inline-block;
}

.siteid {
  /* position: absolute;
  top: -100px;
  left: 0px; */
  z-index: 100;
  width: 150px;
  display: inline-block;
  cursor: pointer;
}

.pending {
  color: #af5f13;
  list-style: none;
}

.established {
  color: green;
  list-style: none;
}
